# Terraform files
.terraform
terraform.tfstate
terraform.tfvars
.terraform.lock.hcl
*tfstate*
*tfplan*

# OS X files
.history
.DS_Store

# IntelliJ files
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/

# VS Code
.vscode/
.history/